<%= render 'layouts/navigation', title: 'Movies' %>


<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1 class="sign-up text-uppercase">Editing review</h1>

<%= render 'form' %>

<%= link_to @movie, class: "gray button" do %> 
  Back to <%=  @movie.title  %>
<%  end  %>
</div>
</div>
</div>